<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite konexbvc" thread-count="3" parallel="methods">
    <listeners>
        <listener class-name="com.konexbvc.test.utils.Listeners.TestListener"/>
    </listeners>
    <test name="Gestion Tramites konexbvc" parallel="methods">
    <classes>
        <class name="com.konexbvc.test.TramiteTest"/>
    </classes>
</test>

</suite>